.banner {
  background: rgba(0, 0, 0, 0.6) url("/assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;

  h2 {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
  }

  @media screen and (max-device-width: 640px){
    /* some CSS here */
    h2 {
      font-size: 20px;
    }
  }
}
