
.cart-item-image {
  width: 100%;
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product-title {
  font-size: 19px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
}

.product-description {
  font-size: 12px;
  font-weight: regular;
  font-family: 'Poppins', sans-serif;
  margin-top: 0;
  color: #000000;
}

.cart-item-container {
  background: #E5E5E5;
}

